body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.loading img {
  max-width: 100%;
  height: auto;
}

.letter {
  font-size: 2rem;
  color: white;
  animation: float 1s infinite alternate;
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
